<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior>
            <clientCredentials>
              <clientCertificate findValue="4ea0ea7560685b381f729f7a855451ced26a297d" storeLocation="CurrentUser"  storeName="My" x509FindType="FindByThumbprint"  />
              <serviceCertificate>
                <authentication certificateValidationMode="None"/>
                <scopedCertificates>
                  <add findValue="d47ec78db75e82832a5c7fc91895b55fad1de81e" storeLocation="CurrentUser"  storeName="My"  x509FindType="FindByThumbprint"
                       targetUri="http://localhost:51899/RestSoapSign.svc"/>
                  <add findValue="d47ec78db75e82832a5c7fc91895b55fad1de81e" storeLocation="CurrentUser"  storeName="My"  x509FindType="FindByThumbprint"
                       targetUri="http://localhost:51899/RestSoapSignEncrypt.svc"/>
                </scopedCertificates>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="RestSoapBinding_IRestSoap" />
          <binding name="RestSoapSignEncryptBinding_IRestSoapSignEncrypt">
            <security mode="Message">
              <message clientCredentialType="Certificate" />
            </security>
          </binding>
          <binding name="RestSoapSignEncryptBinding_IRestSoapSignEncrypt1">
            <security mode="Message">
              <message clientCredentialType="Certificate" />
            </security>
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="RestSoapSingBinding_IRestSoapSign">
            <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
              requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
              messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </security>
            <textMessageEncoding messageVersion="Soap11" />
            <httpTransport />
          </binding>
          <binding name="RestSoapSingBinding_IRestSoapSign1">
            <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
              requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
              messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </security>
            <textMessageEncoding messageVersion="Soap11" />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:51899/RestSoapSign.svc" binding="customBinding"
          bindingConfiguration="RestSoapSingBinding_IRestSoapSign" contract="RestSoapSign.IRestSoapSign"
          name="RestSoapSingBinding_IRestSoapSign">
          <identity>
            <dns value="Clever Components Test" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:51899/RestSoapSignEncrypt.svc"
          binding="basicHttpBinding" bindingConfiguration="RestSoapSignEncryptBinding_IRestSoapSignEncrypt"
          contract="RestSoapSignEncrypt.IRestSoapSignEncrypt" name="RestSoapSignEncryptBinding_IRestSoapSignEncrypt">
          <identity>
            <dns value="Clever Components Test" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:51899/RestSoap.svc" binding="basicHttpBinding"
          bindingConfiguration="RestSoapBinding_IRestSoap" contract="RestSoap.IRestSoap"
          name="RestSoapBinding_IRestSoap" />
        <endpoint address="http://localhost:51899/RestSoapSign.svc" binding="customBinding"
          bindingConfiguration="RestSoapSingBinding_IRestSoapSign1" contract="RestSoapSign.IRestSoapSign"
          name="RestSoapSingBinding_IRestSoapSign1" />
        <endpoint address="http://localhost:51899/RestSoapSignEncrypt.svc"
          binding="basicHttpBinding" bindingConfiguration="RestSoapSignEncryptBinding_IRestSoapSignEncrypt1"
          contract="RestSoapSignEncrypt.IRestSoapSignEncrypt" name="RestSoapSignEncryptBinding_IRestSoapSignEncrypt1" />
      </client>
    </system.serviceModel>
</configuration>