<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.2" debug="true"/>
    <httpRuntime targetFramework="4.6.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
      <behaviors>
      <serviceBehaviors>
          <behavior>        
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="9fbb6015ea34c16b3cac62f3dcdc42f06b509ef6" storeLocation="CurrentUser"  storeName="My"  x509FindType="FindByThumbprint"  />
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <services>
      <service name="WcfService.RestSoap">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          bindingName="Binding1" contract="WcfService.IRestSoap" />
      </service>
      <service name="WcfService.RestSoapSing">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Bin"
          bindingName="Bin" contract="WcfService.IRestSoapSing" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1">
          <security mode="Transport">
          </security>
        </binding>
        <binding name="Bin">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <!--add value="RestTutorial.svc"/-->
        <!--add value="RestTutorialSing.svc"/-->
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
