<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.2" debug="true"/>
    <httpRuntime targetFramework="4.6.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
      <behaviors>
      <serviceBehaviors>
          <behavior>        
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="c1e8b809db8aa964c7dde2e242b98ee0e4afa14d" storeLocation="CurrentUser"  storeName="My"  x509FindType="FindByThumbprint"  />
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <services>
      <service name="WcfService.RestSoap">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RestSoapBinding"
          bindingName="RestSoapBinding" contract="WcfService.IRestSoap" />
      </service>
      <service name="WcfService.RestSoapSign">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RestSoapSingBinding"
          bindingName="RestSoapSingBinding" contract="WcfService.IRestSoapSign" />
      </service>
      <service name="WcfService.RestSoapSignEncrypt">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="RestSoapSignEncryptBinding" 
          bindingName="RestSoapSignEncryptBinding" contract="WcfService.IRestSoapSignEncrypt" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="RestSoapBinding">
          <security mode="None">
          </security>
        </binding>
        <binding name="RestSoapSingBinding">
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      <binding name="RestSoapSignEncryptBinding">
        <security mode="Message">
          <message clientCredentialType="Certificate"/>
        </security>
      </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files/>
    </defaultDocument>
  </system.webServer>
</configuration>
