<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior>
            <clientCredentials>
              <clientCertificate findValue="6e0925db2d711096c6420201b471c4c48b99f1b3" storeLocation="CurrentUser"  storeName="My" x509FindType="FindByThumbprint"  />
              <serviceCertificate>
                <authentication certificateValidationMode="None"/>
                <scopedCertificates>
                  <add findValue="9fbb6015ea34c16b3cac62f3dcdc42f06b509ef6" storeLocation="CurrentUser"  storeName="My"  x509FindType="FindByThumbprint"
                       targetUri="http://localhost:51899/RestTutorial.svc"/>
                </scopedCertificates>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IRestTutorial">
            <security mode="Message">
              <message clientCredentialType="Certificate" />
            </security>
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="BasicHttpBinding_IRestTutorial1">
            <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
              requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
              messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </security>
            <textMessageEncoding messageVersion="Soap11" />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:51899/RestTutorial.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IRestTutorial" contract="Tutorials.IRestTutorial"
          name="BasicHttpBinding_IRestTutorial">
          <identity>
            <dns value="CleverTesterServer" />
          </identity>
        </endpoint>
        <endpoint address="http://localhost:51899/RestTutorial.svc" binding="customBinding"
          bindingConfiguration="BasicHttpBinding_IRestTutorial1" contract="TutorialsSign.IRestTutorial"
          name="BasicHttpBinding_IRestTutorial1">
          <identity>
            <dns value="CleverTesterServer" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>